
<launch>
  
  <param name="camera/driver/image_mode" value="1" />
   
  <include file="$(find openni2_launch)/launch/openni2.launch">
  </include>

  <include file="$(find ml_classifiers)/launch/classifier_server.launch" />

  <arg name="2d_recognition_data" default="_" /> <!-- leave '_' in here-. roslaunch fucks up the params otherwise-->
  
  <node pkg="suturo_perception_rosnode" name="suturo_perception_rosnode" type="suturo_perception_rosnode" output="screen" args="$(arg 2d_recognition_data)"></node>
  <param name="suturo_perception/point_topic" type="string" value="/camera/depth_registered/points" />
  <param name="suturo_perception/color_topic" type="string" value="/camera/rgb/image_color" />
  <param name="suturo_perception/frame_id" type="string" value="camera_rgb_optical_frame" />

</launch>
