<launch>
  
  <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video1 ! video/x-raw-rgb,framerate=30/1 ! ffmpegcolorspace" />
  <node pkg="gscam" name="gscam" type="gscam" output="screen"></node>

  <node pkg="suturo_perception_barcodescanner" name="suturo_perception_barcodescanner_node" type="suturo_perception_barcodescanner_node" output="screen"></node>

  <node pkg="image_view" name="suturo_barcodescanner_viewer" type="image_view" output="screen" args="image:=/suturo/barcode_info_image autosize:=True"></node>

  <node pkg="suturo_perception_barcodescanner" name="suturo_perception_barcodescanner_focusdispatcher" type="suturo_perception_barcodescanner_focusdispatcher.py" output="screen"></node>
  <param name="suturo_perception/barcode_image_topic" type="string" value="/camera/image_raw" />
  <param name="suturo_perception/barcode_info_image_topic" type="string" value="/suturo/barcode_info_image" />
  <param name="suturo_perception/barcode_video_device" type="string" value="/dev/video1" />

</launch>

