<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="load_driver" value="false" />
    <arg name="depth_registration" value="true" />
  </include>

  <node pkg="suturo_perception_rosnode" name="suturo_perception_rosnode" type="suturo_perception_rosnode" output="screen"></node>

</launch>
