<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="load_driver" value="false" />
    <arg name="depth_registration" value="true" />
  </include>

  <arg name="2d_recognition_data" default="_" /> <!-- leave '_' in here-. roslaunch fucks up the params otherwise-->

  <node pkg="suturo_perception_rosnode" name="suturo_perception_rosnode" type="suturo_perception_rosnode" output="screen" args="$(arg 2d_recognition_data)"></node>
  <param name="suturo_perception/point_topic" type="string" value="/head_mount_kinect/depth_registered/points" />
  <param name="suturo_perception/color_topic" type="string" value="/head_mount_kinect/rgb/image_color" />
  <param name="suturo_perception/frame_id" type="string" value="head_mount_kinect_rgb_optical_frame" />

</launch>
